body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.login-box-wrapper {
  position: relative;
}
.login-wrapper {
  height: 100vh;
  background: linear-gradient(
      rgba(3, 18, 59, 0.45),
      rgba(10, 40, 120, 0.45)
    ),
    url("/src/assets/backgroundLogin.png") center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  width: 380px;
  min-height: 500px;
  padding: 60px 30px 40px;
  border-radius: 16px;
  background: #eaf0ff;
}


.logo {
  width: 80px;
  margin-bottom: 10px;
}
.logo-top {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;       /* TO HÆ N */
  height: auto;
  padding: 10px;
  z-index: 10;
}

.login-card h2 {
  color: #041c5b;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  padding-left: 10px;
}

.eye {
  background: none;
  border: none;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.links a {
  color: #1e3a8a;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  color: gray;
  font-size: 14px;
}

.ms-btn {
  width: 100%;
  padding: 10px;
  background: #0047ab;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ms-btn img {
  width: 20px;
}
